<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #2 - Loop over jobs map to display all job fields -->

    <!-- Semi successful but displays all key value sets on one row.    -->

    <div th:fragment="display-results">

    <h3 th:text="${itemcount !=null} ? ${itemcount} + ' Result(s)'"></h3>
    <table class="job-listing" th:each="map : ${query}">
        <tr th:each="mapEntry : ${map}">
            <td th:text="${#strings.capitalizeWords(mapEntry.key)}"></td>
            <td th:text="${mapEntry.value}"></td>
        </tr>
    </table>
    </div>

    <!--    <h3 th:text="${itemcount} + ' Result(s)'"></h3>     -->
</div>

</body>
</html>